.container {
    display: flex;
    margin: auto;
    width: 700px;
    flex-direction: column;
}

.small-image {
    width: 250px;
}
.footer-image {
    width: 200px;
}

footer {
    background: gainsboro;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.left-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
}